// App Font Stack
$primaryFontStack:"Montserrat", sans-serif;

// App Font Weights
$fontWeightLight:300;
$fontWeightRegular:400;
$fontWeightMedium:500;
$fontWeightSemibold:600;
$fontWeightBold:700;

// App Color Varaibles
$primaryColor:#222222;
$secondaryColor:#ef7824;
$inputColor:#495057;
$listBorderColor:grey;
$inputHoverColor:#458;
$whiteColor:#ffffff;
$deleteIconColor:#dc3545;
$inputBorderColor:#ced4da;

// Image Path
$imgPath:"../../assets/images/"

